<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#273461">
    <title>BTECHLINK</title>
    <link rel="icon" type="image/png" href="/image/AlumniLogo.jpg">
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body class="font-sans">
    <div class="flex w-full max-w-sm mx-auto overflow-hidden bg-red-white lg:max-w-full lg:h-full">
        <!--Left Side-->
        <div class="w-full m-7 mb-0 lg:w-80 lg:mx-auto lg:my-auto xl:w-90 2xl:w-110">
            <div class="flex items-start justify-start mx-auto">
                <img class="w-auto h-26" src="../image/AlumniLogo.jpg" alt="BTECH Alumni Logo" />
            </div>
            <p class="mt-2 text-3xl font-bold text-start text-gray-600">
                Forgot Password
            </p>
            <p class="mt-1 text-start font-light leading-4 text-gray-600">
                Enter your email address and we will send you a code to reset your password.
            </p>

            <!--Form-->
            <form class="forgor">
                <div class="mt-5">
                    <label class="block text-sm text-gray-600">Email or Student ID</label>
                    <input
                        class="block w-full px-4 py-2 text-gray-700 bg-white border border-gray-400 rounded-lg focus:border-blue-400 focus:ring-opacity-40 focus:outline-none focus:ring focus:ring-blue-300 placeholder:text-gray-400 placeholder:font-light ems"
                        type="email" placeholder="202212345@btech.ph.education" />
                </div>

                <!--Error Message-->
                <div class="flex justify-start mt-1 text-xs text-red-600 fils">
                    Emaillllll
                </div>

                <div class="mt-4">
                    <button type="submit"
                        class="w-full px-6 py-[10px] text-md font-medium tracking-wide text-white capitalize transition-colors duration-300 transform bg-[#273461] rounded-lg hover:bg-[#304384] focus:outline-none focus:ring focus:ring-gray-300 focus:ring-opacity-50">
                            Submit
                    </button>
                </div>

                <div class="mt-3 flex justify-center items-center">
                    <a class="text-xs text-blue-500 cursor-pointer hover:underline" href="Sign-in.html">Continue with
                        Password</a>
                </div>

            </form>
            <p class="block text-center text-[10px] text-gray-400 mt-10">
                © 2025 BTECH. All rights reserved.
            </p>
        </div>

        <!--Right side-->
        <div class="hidden lg:block lg:h-screen px-10 py-5 lg:w-1/2">
            <img src="https://btech.edu.ph/wp-content/uploads/2021/06/slide1.jpg" alt="Description of image"
                class="w-full h-full border-none rounded-2xl object-cover" />
        </div>
    </div>
</body>

    <script>
        // DOMContentLoaded
        $(document).ready(function() {
            console.log('runnnnn');
            $('.forgor').submit(sendd);
        });

        function sendd(event){
            event.preventDefault();
            let errr = false;

            if($('.ems').val().trim() === ""){
                errr = true;
            }

            //get data and bind
            const user = {
                user_email: $('.ems').val().trim(),
            }

            $('.fils').html('');
            
            if(!errr){
                //send data
                $.ajax({
                url: "/user/forgot",
                type: "POST",
                data: user,
                dataType: "json",
                beforeSend: function () {
                    console.log('loading');
                },
                success: function(response) {
                    //
                    if(response.success){
                        //
                        console.log(response);
                        window.location.href = "/user/forgotverify";

                    } else {
                        //
                        $('.fils').html(response.value);
                    }
                },
                complete: function () {
                    console.log('DONE');
                },
                error: function(xhr, status, error) {
                    console.error("Error:", error);
                }
                });
            } else if (errr) {
                $('.fils').html('Fill in all fields!');
            }
        }
    </script>

</html>